@using Hotel.Api.Application.Common.Models.RoomModels
@using System.Linq;
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model List<RoomListModel>
<div class="shadow-sm mb-5">
    <section class="article-list bg-white">
        <div class="d-sm-flex justify-content-between align-items-center p-3 gradient-primary">
            <h3>All Rooms</h3>
            <div>
                <a href="/dashboard"><button class="btn btn-light shadow mr-2">Dashboard</button></a>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                {
                    <a href="/rooms/add"><button class="btn btn-light shadow">Add Room</button></a>
                }
            </div>
        </div>
        <div class="container">
            <div class="row articles">
                @foreach (var room in Model)
                {
                    <div class="col-sm-6 col-md-4 item shadow-sm pb-2">
                        <a href="/rooms/@room.Id"><img class="img-fluid" src="@room.Images.LastOrDefault()" /></a>
                        <a href="/rooms/@room.Id"><h3 class="name">Room Number: @room.RoomNumber</h3></a>
                        <p class="description">Room Type: @room.RoomType</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <form method="post" asp-action="DeleteRoom" asp-controller="Rooms">
                                <input type="hidden" name="RoomId" value="@room.Id" />
                                <button class="btn btn-light m-2" type="submit"><i class="fa fa-trash-alt"></i></button>
                            </form>
                        }
                    </div>
                }
            </div>
        </div>
    </section>
</div>