@using Hotel.Api.Application.Common.Models.RoomModels
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model RoomModel
<div class="shadow-sm mb-5">
    <section class="article-list bg-white">
        <div class="d-sm-flex justify-content-between align-items-center p-3 gradient-primary">
            <h3>Room #@Model.RoomNumber | Room Type: @Model.RoomType</h3>
            <div>
                <a href="/dashboard"><button class="btn btn-light shadow mr-2">Dashboard</button></a>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                {
                    <button class="btn btn-light shadow" data-toggle="modal" data-target="#exampleModal">Add Image</button>
                }
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var image in Model.Images)
                {
                <div class="col-sm-6 mt-2" style="width: 18rem;">
                    <img class="card-img-top" src="@image" alt="Room Image">
                </div>
                }
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header gradient-primary">
                        <h5 class="modal-title" id="exampleModalLabel">Add Room Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" asp-action="AddImage" asp-controller="Rooms">
                            <input type="hidden" name="roomId" value="@Model.Id">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>
                                            <strong>
                                                Lecture Title
                                            </strong>
                                        </label><input class="form-control" type="text" required="required" name="imageURL" placeholder="Image URL">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary shadow" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary shadow">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>